* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
form {
    margin-bottom: 20px;
}
label,
input,
select,
button {
    display: block;
    margin-bottom: 10px;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
#transactions {
    margin-bottom: 20px;
}
#totalBalance {
    text-align: center;
}
.income {
    background-color: lightgreen;
}
.expense {
    background-color: lightcoral;
}